.navbar_main_cont {
  background: #fff !important;
  height: 100px;
  box-shadow: 1px 1px 10px rgb(0 0 0 / 0.4);
  width: 100%;
  padding: 0 50px;
  font-family: 'Roboto', sans-serif;
  position: fixed;
  top: 0;

  @media (max-width: 768px) {
    padding: 0 10px;
  }
}

.Nav {
  margin-left: auto;
}

.logo {
  color: #000;
  font-size: 40px;
  font-weight: bolder;

  &:hover {
    color: #000;
  }

  @media (max-width: 768px) {
    font-size: 25px;
    font-weight: bold;
  }
}

.nav_link {
  color: #000 !important;
  margin: 0 30px 0 0;
  font-size: 18px;
  font-weight: 700;

  a {
    color: #000;

    &:hover {
      color: #000;
    }
  }
}

.navBtn {
  height: 60px;
  width: 200px;
  border-radius: 30px;
  padding: 5px 20px;
  background: #000;
  color: #fff;
  font-size: 18px;
  font-weight: 600;

  &:hover {
    background: yellow;
    color: #000;
  }
}

.nav_link_item {
  font-weight: 600;
  margin: 10px 0;
}

.navbar_collapse {
  height: 100vh !important;

  @media (max-width: 768px) {
    margin-top: 50px;
  }
}
